#links h3 svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}


.hidden{
    height:0;
    display:none;
}

.shown{
    height:auto;
    padding:5px;
}

#publications-carous{
    display:flex;
}